<div class="welcome"><h1>List of categories</h1></div>

<div class="create_topic"><%= link_to "Create category", new_category_path %></div>
<%= will_paginate %>
<table class="category_list">
  <tr>
    <th width="70%">Categories</th>
    <th width="30%">Last Message</th>
  </tr>
  
  <% @categories.each do |col|   %>
    <tr>
      <td><span class="category_icon"></span> <h4><%= link_to col.title, col %></h4>
        <small><%= col.messages.count %> messages</small><br />
       
      <td class="right"></td>
      
     
    </tr>
  <% end %>
 
</table>
<%= will_paginate %>